html, body {
  height: 100%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100%;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
}

.carousel, .item, .active {
  height: 100%;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.carousel-inner {
  height:100%;
}

.carousel-indicators li, .carousel-indicators .active {
  margin: 1%;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}


/* Logo starts */

#logo {
    opacity: 0.50;
    position: absolute;
    top: 8%;
    left: 4%;
}

#logo img {
  width: 32px;
  height: 32px;
  float: left;
}

#logo h1 {
  font-size: 20px;
  color: black;
  line-height: 164%;
  display: inline;
  margin-left: 8%;
}

span {
  font-size: 21px;
  color: #DD4814;
  letter-spacing: 4px;
  font-weight: 900;
}
/* Logo ends */
