html, body {
  height: 100%;
  font-size: 100%;
  position: relative;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100%;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
}

.carousel, .item, .active {
  height: 100%;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.carousel-inner {
  height:100%;
}

.carousel-indicators li, .carousel-indicators .active {
  margin: 1%;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}


/* Logo starts */

#logo {
  position: absolute;
  top: 10%;
  left: 5%;
  cursor: pointer;
}

#logo img{
<<<<<<< HEAD:assets/css/main.css
  width: 2.1em;
  height: 2.1em;
=======
  width: 6%;
  height: 6%;
>>>>>>> a02528fbf2e10126244ccdccb195bbc306249760:assets/css/main.css
  float: left;
  opacity: 0.8;
  margin-right: 1em;
}

#logo h1 {
<<<<<<< HEAD:assets/css/main.css
  display: table-cell;
  font-size: 2em;
  color: black;
  background: rgba(0,0,0,0.8) ;
  letter-spacing: 0.1em;
  font-weight: 900;
  color: white;
}

#logo #second {
  font-size: 2em;
  color: black;
  background: rgba(255,255,255,0.8);
=======
  position: absolute;
  top: -20%;
  left: 7%;
  font-size: 2em;
  color: black;
  background: rgba(255,255,255,0.5) ;
  letter-spacing: 0.1em;
  font-weight: 900;
  color: #DD4814;
}

#logo #second {
  position: absolute;
  top: 28%;
  left: 7%;
  font-size: 2em;
  color: black;
  background: rgba(255,255,255,0.5) ;
>>>>>>> a02528fbf2e10126244ccdccb195bbc306249760:assets/css/main.css
  letter-spacing: 0.1em;
  font-weight: 100;
  color: black;
}

.menu {
<<<<<<< HEAD:assets/css/main.css
  font-size: 2em;
  font-weight: bolder;
  line-height: 2em;
  position: absolute;
  top: 5em;
  left: 2.3em;
=======
  position: absolute;
  top: 100%;
  left: 4%;
  display: none;
}

.menuhover {
  relative;
>>>>>>> a02528fbf2e10126244ccdccb195bbc306249760:assets/css/main.css
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu li {
  list-style-type: none;
<<<<<<< HEAD:assets/css/main.css
}

.hidden {
  display: none;
=======
  font-size: 2em;
  margin-top: 1em;
  color: white;
  font-weight: 900;
>>>>>>> a02528fbf2e10126244ccdccb195bbc306249760:assets/css/main.css
}
